# vim ft=yaml
language: python

matrix:
  include:
  # this is the Python 2 environment
    - python: "2.7"
      env: DEPS="numpy scipy scikit-learn joblib pp pytest pytest-cov coveralls future"
  # this is Ubuntu xenial (16.04 LTS)
    - python: "3.5"
      env: DEPS="numpy scipy scikit-learn joblib libsvm pytest pytest-cov coveralls future"
  # this is Ubuntu bionic (18.04 LTS)
    - python: "3.6"
      env: DEPS="numpy scipy scikit-learn joblib libsvm pytest pytest-cov coveralls future"
  # this is Debian stable (10, codename buster)
    - python: "3.7"
      env: DEPS="numpy==1.16.2 scipy==1.1.0 scikit-learn==0.20.0 joblib==0.13.2 libsvm pytest pytest-cov coveralls future"
  # this is a test of MDP minimal dependencies
    - python: "3.8"
      env: DEPS="numpy pytest pytest-cov coveralls"
  # this is the latest of everything
    - python: "3.8"
      env: DEPS="numpy scipy scikit-learn joblib libsvm pytest pytest-cov coveralls future"
  
before_install:
    # install build dependencies for installing numpy and scipy from source.
    # This is needed for old version that are not available as wheels
    - sudo apt-get -y install cython3 gfortran libblas-dev liblapack-dev

install:
    - pip install $DEPS

script:
    - pytest --cov-report= --cov-config=.coveragerc --cov=mdp --seed=725021957 mdp
    - pytest --cov-report= --cov-config=.coveragerc --cov=bimdp --cov-append --seed=725021957 bimdp

after_success:
    - coveralls
