
# vim ft=yaml
# travis-ci.org definition for MDP build (based on PyMVPA configuration
# which in turn was based on nipype and nipy)
#
# I would prefer to test against what is in neurodebian
language: python
python:
  - "3.5"
  - "3.5-dev"  # 3.5 development branch
  - "3.6"
  - "3.6-dev"  # 3.6 development branch
  - "3.7-dev"  # 3.7 development branch
env:
  - VNUMPY=1.8.2  VSCI=0.21.2
  - VNUMPY=1.8.2  VSCI=0.20.0
  - VNUMPY=1.8.2  VSCI=0.18
  - VNUMPY=1.12.1  VSCI=0.21.2
  - VNUMPY=1.12.1  VSCI=0.20.0
  - VNUMPY=1.12.1  VSCI=0.18
  - VNUMPY=1.16.1  VSCI=0.21.2
  - VNUMPY=1.16.1  VSCI=0.20.0
  - VNUMPY=1.16.1  VSCI=0.18
  
cache:
  - apt
matrix:
# old packagese + new python has problems setting up
  exclude:
    - python: "3.7-dev"
      env: VNUMPY=1.8.2  VSCI=0.21.2
    - python: "3.7-dev"
      env: VNUMPY=1.8.2  VSCI=0.20.0
    - python: "3.7-dev"
      env: VNUMPY=1.8.2  VSCI=0.18
    - python: "3.7-dev"
      env: VNUMPY=1.12.1  VSCI=0.21.2
    - python: "3.7-dev"
      env: VNUMPY=1.12.1  VSCI=0.20.0
    - python: "3.7-dev"
      env: VNUMPY=1.12.1  VSCI=0.18
    - python: "3.7-dev"
      env: VNUMPY=1.16.1  VSCI=0.18
    - python: "3.6-dev"
      env: VNUMPY=1.8.2  VSCI=0.21.2
    - python: "3.6-dev"
      env: VNUMPY=1.8.2  VSCI=0.20.0
    - python: "3.6-dev"
      env: VNUMPY=1.8.2  VSCI=0.18
    - python: "3.6-dev"
      env: VNUMPY=1.12.1  VSCI=0.18
    - python: "3.6-dev"
      env: VNUMPY=1.16.1  VSCI=0.18
    - python: "3.6"
      env: VNUMPY=1.8.2  VSCI=0.21.2
    - python: "3.6"
      env: VNUMPY=1.8.2  VSCI=0.20.0
    - python: "3.6"
      env: VNUMPY=1.8.2  VSCI=0.18
    - python: "3.6"
      env: VNUMPY=1.12.1  VSCI=0.18
    - python: "3.6"
      env: VNUMPY=1.16.1  VSCI=0.18
    - python: "3.5-dev"
      env: VNUMPY=1.8.2  VSCI=0.21.2
    - python: "3.5-dev"
      env: VNUMPY=1.8.2  VSCI=0.20.0
    - python: "3.5"
      env: VNUMPY=1.8.2  VSCI=0.21.2
    - python: "3.5"
      env: VNUMPY=1.8.2  VSCI=0.20.0
      
      
before_install:
    # The ultimate one-liner setup for NeuroDebian repository
   - bash <(wget -q -O- http://neuro.debian.net/_files/neurodebian-travis.sh)
   - travis_retry sudo apt-get install python-joblib
install:
    - pip install -v numpy==$VNUMPY scikit-learn==$VSCI
    - pip install -v pytest==4.0.0 pytest-cov>=2.5.0 coveralls future
script:
    - pytest --cov-report= --cov-config=.coveragerc --cov=mdp --seed=725021957 mdp
    - pytest --cov-report= --cov-config=.coveragerc --cov=bimdp --cov-append --seed=725021957 bimdp
after_success:
    - coveralls
