Source: mdp
Section: python
Priority: optional
Maintainer: Tiziano Zito <opossumnano@gmail.com>
Uploaders: Yaroslav Halchenko <debian@onerussian.com>
Build-Depends: debhelper-compat (= 12),
               dh-python,
               python3-all,
               python3-setuptools,
               python3-pytest,
               python3-numpy,
               python3-future,
               python3-scipy,
               python3-joblib,
               python3-sklearn,
               python3-libsvm,
Standards-Version: 4.5
Vcs-Browser: https://github.com/mdp-toolkit/mdp-toolkit/tree/debian
Homepage: https://mdpdocs.readthedocs.io
Rules-Requires-Root: no

Package: python3-mdp
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-numpy, python3-future
Recommends: python3-pytest,
            python3-scipy,
            python3-joblib,
            python3-sklearn,
            python3-libsvm,
Description: Modular toolkit for Data Processing
 Python data processing framework for building complex data processing software
 by combining widely used machine learning algorithms into pipelines and
 networks. Implemented algorithms include: Principal Component Analysis (PCA),
 Independent Component Analysis (ICA), Slow Feature Analysis (SFA), Independent
 Slow Feature Analysis (ISFA), Growing Neural Gas (GNG), Factor Analysis,
 Fisher Discriminant Analysis (FDA), and Gaussian Classifiers.
