Source: mdp
Section: python
Priority: optional
Maintainer: Yaroslav Halchenko <debian@onerussian.com>
Build-Depends: cdbs (>=0.4.49), debhelper (>= 5.0.38), python-support (>= 0.6), python-all
Standards-Version: 3.7.3
Vcs-Browser: http://git.onerussian.com/?p=mdp
Vcs-git: http://git.onerussian.com/vcs/mdp
Homepage: http://mdp-toolkit.sourceforge.net/

Package: python-mdp
Architecture: all
Depends: ${python:Depends}, python-numpy
Recommends: python-symeig
Suggests: python-scipy
Description: Modular toolkit for Data Processing
 Python data processing framework. Implemented algorithms include:
 Principal Component Analysis (PCA), Independent Component Analysis
 (ICA), Slow Feature Analysis (SFA), Independent Slow Feature Analysis (ISFA),
 Growing Neural Gas (GNG), Factor Analysis, Fisher Discriminant Analysis (FDA),
 and Gaussian Classifiers.
