#!/usr/bin/make -f
export DH_VERBOSE=1

PYVERS=$(shell pyversions -r)

%:
	dh $@ --with python2

override_dh_auto_install:
	dh_auto_install
ifeq (,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
	set -e ; \
	for python in $(PYVERS); do ( \
	echo "I: Runnig MDP unittests using $$python"; \
	cd debian/python-mdp/usr/lib/$$python/dist-packages; \
	$$python mdp/test/run_tests.py mdp bimdp; \
	) done
	: # Prune compiled code which could have been generated during testing
	find \( -name __pycache__ -o -name \*.pyc \) -delete
endif
