/*
Basic default style used by MDP for a pleasant uniform appearance.
*/

html, body {
    font-family: sans-serif;
    text-align: center;
}

h1, h2, h3, h4 {
    color: #003399;
    text-align: center;
}

h5 {
    color: #003399;
    font-size: small;
    text-align: center;
    font-weight: normal;
}

par.explanation {
    color: #003399;
    font-size: small;
}

table.flow {
    margin-left: auto;
    margin-right: auto;
}

table.flow1 {
    float: start;
    display: inline-block;
    vertical-align: top;
    margin: 0 40px 0 40px;
}

table.caption {
    color: #003399;
    font-size: medium;
}